<!-- <section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
<mat-toolbar>
    <mat-icon>supervised_user_circle</mat-icon>
    <span>LOGIN</span>
  </mat-toolbar>
  <mat-card class="my-card">
     <mat-card-content>
        <div style="color : red" *ngIf='error'>{{error}}</div>
        <form name='signinForm'>
           <mat-form-field class="full-width">
              <mat-label>User Name</mat-label>
              <input  matInput  placeholder="User Name" formControlName="username">
           </mat-form-field>
           <mat-form-field class="full-width">
              <mat-label>Password</mat-label>
              <input  matInput  placeholder="Password" formControlName="password">
           </mat-form-field>
        </form>
     </mat-card-content>
     <mat-card-actions>
        <button mat-raised-button (click)="doSignin()" color="primary">LOGIN</button>
     </mat-card-actions>
  </mat-card>
</div>
</div>
</div>
</section> -->

<!-- 

 <div class="jumbotron d-flex align-items-center min-vh-100">
    <div class="container text-center">
        <div id="signin-box">
            <h2>Admin</h2>
            <div style="color : red" *ngIf='error'>{{error}}</div>
            <form name='signinForm' (submit)="doSignin()">
                <table>
                    <div class="form-group">
                    <tr>
                        <td>Username:</td>
                        <td><input type='text' name='username' [(ngModel)]="username"></td>
                    </tr>
                    </div>
                    <div class="form-group">
                    <tr>
                        <td>Password:</td>
                        <td><input type='password' name='password' [(ngModel)]="password"/></td>
                    </tr>
                    </div>
                    <div class="form-group">
                    <tr>
                        <td><input name="submit" type="submit" value="Signin" /></td>
                        <td>Don't have account? <a href="/signup" routerLink="/signup">Signup</a></td>
                    </tr> 
                    </div>
                </table>
            </form>
        </div>
    </div> 
  </div>  -->


   <div class="wrapper">
    <div class="logo">
        <img src="https://i.pinimg.com/736x/eb/74/f3/eb74f357114bfd758da30cdd29dbfad9.jpg" alt="">
    </div>
    <div class="text-center mt-4 name">
        Admin
    </div>
    <div style="color : red" *ngIf='error'>{{error}}</div>
    <form class="p-3 mt-3" name='signinForm' (submit)="doSignin()">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="userName"  [(ngModel)]="username" placeholder="Username">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" [(ngModel)]="password" placeholder="Password">
        </div>
        <button class="btn mt-3" name="submit" type="submit" value="Login">Signin</button>
    </form>
    <div class="text-center fs-6">
        <a href="#">Forget password?</a> 
    </div>
</div> 
